html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	/*outline: solid 1px;*/
}
a {
	text-decoration: none;
	display: inline-block;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
body {
	font-family: "Roboto", "Noto Sans TC", sans-serif;
	line-height: 1.5;
}
/*設定*/
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
}
.d-flex {
	display: flex;
}
@media(max-width:992px) {
    .container-md{
            padding: 0;
    }
}
@media (max-width: 767px) {
	/*.container {
        max-width: 720px;
    }*/
        .container-sm{
            padding: 0;
        }
    }  
.h2 {
    font-size: 42px;
    color:#000;
    font-weight: 500;
}
.h3 {
    font-size: 32px;
    color:#000;
}
.h4 {
    font-size: 24px;
    color: #000;
}
.header {
    background-color: #aa0601;
    color:#fff;
}
.nav-menu {
    justify-content: space-between;
}
.nav-img {
    padding: 12px 0;
    width: 80px;
}
.menu-item{
    padding: 0 32px;
}
.menu-item a {
    display: block;
    padding: 25px 0;
    font-size: 20px;
    color:#fff;
}
.menu-item a:hover {
    color:#000;
}
@media (max-width: 767px) {
        .nav-menu{
                flex-wrap: wrap;
        }
        .menu {
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
        }
        .menu-item {
                width: 50%;
                border: 1px solid #fff;
                padding: 0;
        }
        .menu-item a {
                padding: 12px 0;
                text-align: center;
        }
}
.title-list {
        width: 33.33%;
}        
.title-list a {
        display: block;
        font-size: 32px;
        font-weight: 500;
        color: #000;
        border: 1px solid #dcdcdc;
        border-bottom: 8px solid transparent;
        padding: 24px 0;
        text-align: center;
}
.title-list a:hover {
        border-bottom: 8px solid #aa0601;
}
@media (max-width: 992px) {
        .title-list a {
                font-size: 24px;
                padding: 16px 0;
        }
} 

@media (max-width: 576px) {
        .title-list a {
                font-size: 16px;
    }
}

.banner{
        margin-bottom: 80px;
}
.bg1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
    background-size: cover;
    background-position: center center;
    height: 296px;
    width: 100%;
}
.bg2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
    background-size: cover;
    background-position: center center;
    height: 296px;
    width: 100%;
}
@media (max-width: 992px) {
	.bg1 {
		background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
	}
	.bg2 {
		background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
	}
}
@media (max-width: 576px) {
	.bg1 {
		height: 136px;
	}
	.bg2 {
		height: 136px;
	}
}
.content-title {
        text-align: center;
        margin-bottom: 32px;
}
.card-group {
        flex-wrap: wrap;
        margin: 0 -12px;
}
.card {
        width: 25%;
        padding: 0 12px;
        margin-bottom: 80px;
}
.card-title {
    justify-content: space-between;
}
.card-price {
    font-size: 24px;
    font-weight: 500;
    color:#aa0601;
}
.block {
    width: 24px;    
    height: 24px;
    border-radius: 4px;
    background: #5f3e2d;
    margin-right: 8px;
}
.block2  {
    width: 24px;    
    height: 24px;
    border-radius: 4px;
    background: #b75929;
}
.page {
    margin-bottom: 80px;
}
.page-group {
    justify-content: center;
}
.page ul li {
    border: 1px solid #555555; 
    margin-left: -1px;
}
.page-btn {
    padding: 12px;
    font-size: 19px;
    color: #555555;
}
.page-btn:hover{
    color:#555555;
    background: #f2f2f2;
} 
.page-num {
    padding: 12px 16px;
    font-size: 18px;
    color:#555555;
}
.active {
    color:#fff;
    background: #000;
}
.page-num:hover{
    color:#fff;
    background: #000;
}
@media (max-width: 992px) {
	.card {
		width: 50%;
	}
}
@media (max-width: 576px) {
	.card {
		width: 100%;
	}
    .page-btn{
        font-size: 16px;
        padding: 12px 5px ;    
    }
    .page-num {
        font-size: 16px;
    }
}

.footer {
	background: #aa0601;
}
.footer-content {
    padding-top: 60px;
    justify-content: space-between;
}
.footer-menu {
    margin: 0 -24px;
    margin-bottom: 35px;
}
.footer-menu li {
    padding: 0 24px;
}
.footer-menu li a {
    color:#fff;
}
.footer-menu li a:hover {
    color:#000;
}
.contact a {
    font-size: 36px;
    color:#fff;
    margin-bottom: 8px;
}
.material-symbols-outlined {
    font-size: 36px;
    margin-right: 20px;
    color:#fff;
}
.contact a:hover {
    color:#000;
}
.material-symbols-outlined:hover {
    color:#000;
}
.ic-social {
    margin: 0 -12px;
}
.ic-social a{
    padding: 0 12px;
}
.ic-social a img{
    width: 48px;
    height: 48px;
}
.footer-copyright {
    padding: 32px 0;
    color:#fff;
    justify-content: space-between;
}
.privacy p {
    font-size: 14px;
}
.privacy-p {
    margin-right: 48px;
}

@media (max-width: 767px) {
        .footer-content {
            padding-top: 24px;
        }
        .footer-menu {
            display: none;
        }
        .contact p {
            font-size: 16px;
        }
        .contact a {
            font-size: 16px;
        }
        .material-symbols-outlined {
            font-size: 20px;
        }
        .ic-social {
            margin: 0 -4px;
        }
        .ic-social a {
            padding: 0 4px;
        }
        .ic-social a img{
            width: 24px;
            height: 24px;
        }
        .footer-copyright {
            flex-direction: column;
            padding: 24px 0;
            margin: -4px 0;    
        }
    
        .footer-copyright p {
            padding: 4px 0;
            font-size: 16px;
        }    
        .privacy {
            flex-direction: column;
        }
        .privacy-p {
            margin-right: 0;
        }
    }





















































































































































































































































































